.main-wrapper {
  padding-top :70px;
  height: 100vh;  
}

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    text-align: center;
}

#page1 {
 background-image: url("divebar.jpg"); 
}

#jumbo {
  background: rgba(0,0,0,0.5);
}

