.main-wrapper {
  padding-top :70px;
  height: 100vh;  
}

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    text-align: center;
}

/*
* https://gist.github.com/nurbek-ab/92989fe6c5071e956b6a
*/

.btn-transparent {
    background: transparent;
    color: #FFFFFF;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 2px solid #FFFFFF;
}

    .btn-transparent:hover {
        color: black;
        background-color: rgba(255,255,255,0.5);
    }

#page1 {
 background-image: url("divebar.jpg"); 
}

#jumbo {
  background: rgba(0,0,0,0.5);
}

.orange-background {
  background: rgb(250,105,0);
  color: white;
}

.glyph-size {
   font-size: 8.5vw; 
}
